@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.popup {
    width: 450px;
    height: 630px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup .content-popup div {
    margin: 20px 0;

}

.btn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.btn-visible {
    visibility: visible;
}

.popup h1 {
    color: black;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

#popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boutons {
    display: flex;
    justify-content: space-evenly;
}

#boutons button {
    color: white;
    width: 6rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
}

#boutons button:first-child {
    background: linear-gradient(0deg, #D32C2C 0%, #D32C2C 100%), lightgray 50% / cover no-repeat;
}

#boutons button:last-child {
    background: linear-gradient(0deg, #01437C 0%, #01437C 100%), lightgray 50% / cover no-repeat;
}

#input-liste-adherent {
    width: 12em;
    border-radius: 8px;
    border-style: none;
}

#input-liste-adherent::placeholder {
    padding: 0.5em;
}

#label-liste-adherent {
    display: inline-block;
    width: 150px; 
    margin-right: 10px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

select {
    border-radius: 8px;
    border: 1px solid var(--greytext, #121212);
    background: var(--white, #FFF);
}

#nom, #prenom, #datenaissance, #numlicence, #classement, #telephone, #classement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sexe {
    display: flex;
    justify-content: center;
    margin-bottom: 1em; 
}

#sexe label {
    width: 17%; 
    margin-right: 10px; 
}

#telephone, #classement {
    white-space: nowrap;
}

#sexe select {
    width: 10rem;
    height: 3rem;
}
