

/* Path: appli/static/img/ajout-comp.css */
html {
    /* background-color: var(--couleur-background); */
    font-family: "Poppins", sans-serif;
  }


main{
    background-color: var(--couleur-background);
    min-height: 100vh;
}

.progress-bar{
    background-color: rgb(244, 255, 123);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3% 10% 3% 10%;
    align-items: center;
}

.progress-bar a{
    color: white;
    background-color: #9A9A9A;
    text-decoration: none;
    padding: 1% 2% 1% 2%;
}

.active-url{
    background-color: #01437C !important;
}

.center{
    display: flex;
    flex-wrap: wrap;
    min-height: 70vh;
    justify-content: space-around;
    align-items: center;
}

.left-form{
    height: 100%;
    border-radius: 10px;
    flex-basis: 23%;
}

.right-form{
    height: 100%;
    flex-basis: 23%;
}

.buttons{
    padding: 0 12% 0 12%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    padding: 1% 2% 1% 2%;
    color: white;
}


.btn-annuler{
    background-color: var(--bouton-annuler);
    padding: 2% 7%;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 120%;
    border-radius: 10px;
}

.btn-publier{
    background-color: #01437C;
    padding: 2% 7%;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 120%;
    border-radius: 10px;
}


.bouton-annuler{
    text-align: start;
    margin-top: 3rem;
}

.bouton-publier{
    text-align: end;
    margin-top: 3rem;
}

.titre-formulaire{
    text-align: center;
    font-weight: 125%;
    background-color: var(--bouton-confirmation-validation);
    color: #FFF;
    padding: 2% 0 2% 0;
}

.partie-input{
    padding: 3%;
}

.label-input{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}

.label-input input{
    border: none;
    background: none;
    outline: none;
    border-bottom: thin solid #000;
    padding: 0;
    width: 60%;
}

.test{
    background-color: white;
    height: 100%;
}

.partie-input-droite{
    padding: 5% 20%;
}

.combox-box{
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    margin-bottom: 15%;
}

.comb-cate > label{
    flex-grow: 1;
}

select{
    min-width: 50%;
    padding: 1% 2%;
    cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border: none;
  border-bottom: #000 thin solid;
  border-radius: 0;
}



.double-combo-box>select{
    width: 100%;
    margin-bottom: 5%;
}

.double-combo-box{
    flex-basis: 50%;
}