main{
    margin: 0 5%;
    margin-bottom: 5%;
}


.joueur > p{
    color: black;
    font-size: 15px;
}

.joueur{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-joueur{
    background-color: var(--couleur-background-gagnant);
    padding: 1% 3%;
}


.table-troiseme-pos{
    margin-left: 50%;
    width: 50%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }
    .div3 { grid-area: 1 / 5 / 2 / 6; }
    .div4 { grid-area: 1 / 7 / 2 / 8; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 4 / 1 / 5 / 2; }
    .div7 { grid-area: 7 / 1 / 8 / 2; }
    .div8 { grid-area: 9 / 1 / 10 / 2; }
    .div9 { grid-area: 2 / 2 / 5 / 3; }
    .div10 { grid-area: 7 / 2 / 10 / 3; }
    .div11 { grid-area: 8 / 3 / 9 / 4; }
    .div12 { grid-area: 3 / 3 / 4 / 4; }
    .div13 { grid-area: 3 / 4 / 9 / 5; }
    .div14 { grid-area: 5 / 5 / 6 / 6; }
    .div15 { grid-area: 5 / 6 / 6 / 7; }
    .div16 { grid-area: 5 / 7 / 6 / 8; }
    
    .titre-table{
        text-align: center;
    }
    

    .image{
        width: 100%;
        height: 100%;
    }