@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

body{
    background-color: var(--bg);
}

header {
    background-color: var(--couleur-header);
    padding: 20px;
    margin-bottom: 3%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left {
    display: flex;
    align-items: center;
}

#left img {
    max-height: 100%;
}

#left ul {
    display: flex;
    align-items: center;
}

#right ul {
    display: flex;
    align-items: center;
}

button{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    position: relative;
}

nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav a:hover::after {
    width: 100%;
}

li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    color: white;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    p {
        font-size: 24px;
    }
}