.container-section-participants, .escrime_other{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.section-infopr, .gestion-participants{
  margin: 2em auto 0
}


.section-infopr p, h2{
  color: black;
  font-size: 20px;
}

.escrimeblois p, .escrimeblois p, .section-infopr p, .escrime-other p, h3{
  color: black;
  font-size: 16px;
}



.container-section-participants p{
  color: black;
}

.subtitreparticipant{
  display: flex;
  align-items: center;
}

.escrime-other{
  display: flex;
  justify-content: space-around;
}

.nb{
  padding: 0 8px;
  background-color: var(--blue-escrime);
  border-radius: 8px;
  color: white;
}



.escrimeblois{
  display: flex;
  justify-content: space-around;
}

.infopr{
  justify-content: space-around;
  display: flex;
  align-items: center;
}




.infotitre{
    background-color: var(--couleur-header);
    border-radius: 8px 8px 0 0;
    color: whitesmoke;
    text-align: center; 
    text-align: left;
    padding: 10px;
}

.infotitre h2{
  color: whitesmoke;
}

.section-infopr , .gestion-participants{
  background-color: white;  
}

.btn-annuler {
  background-color: var(--bouton-annuler);
  padding: 10px 4px;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 120%;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.btn-annuler:hover {
  background-color: var(--hover-annuler);
}


.actionsp{
  display: flex;
  flex-direction: column;
}

.labelp p, .valeurp p, .actionsp img {
  margin: 8px 0; 
}

.participant{
  display: flex;
  background-color: #F3F3F3;
  padding: 10px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid var(--grey, #9A9A9A);
  width: 350px;
}

.participant p {
  margin: 0 7px; 
}

.gestionp{
  display: flex;
  align-items: center;
}

.suppd button{
  margin-top: 10px;
  padding: 0 12px;
  background-color: #FF4015;
}

.suppd{
  margin-left: 20px;
}


.addp{
  text-align: center;
  margin: 10px 30px 0 0;
}

.addp button{
  margin-top: 10px;
  padding: 0 12px;
  background-color: var(--blue-escrime);
}

.subtitreparticipant .nb{
  color: white;
}