.content {
    margin: 0 auto; /* Centre le contenu */
}

/* partie paramètres */

.section-param {
    border-radius: 8px;
    background-color: rgb(226, 226, 226);
    display: flex;
    background-color: white; /* répartir les sous-menus horizontalement */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    margin-bottom: 1em;
}

.titre-param {
    background-color: var(--couleur-header);
    border-radius: 8px 8px 0 0;
    color: whitesmoke;
    text-align: left;
    padding: 10px;
}

.div-param {
    display: flex;
    margin-left: 1em;
    justify-content: space-between;
}

.type-reglage-manuel {
    display: flex;
}

.labels {
    display: flex;
    flex-direction: column;
}

.labels label {
    font-size: 16px;
}

h6 {
    font-size: 20px;
    margin-bottom: 0.5em;

}

label {
    font-size: 20px;
    margin-bottom: 0.5em;

}

/* partie proposition */

.section-proposition {
    border-radius: 8px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
    background-color: white; /* répartir les sous-menus horizontalement */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    margin-bottom: 1em;
}

.titre-proposition {
    background-color: var(--couleur-header);
    border-radius: 8px 8px 0 0;
    color: whitesmoke;
    text-align: left;
    padding: 10px;
}

.tableau table {
    border-collapse: collapse;
    width: 100%;
}

.tableau th, .tableau td {
    padding: 10px;
    text-align: left; /* Aligne le texte à gauche */
}

.tableau th {
    text-align: left;
}
