#categorieSelect, #categorieArme, #categorieSexe, #categorieStatut {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

#categorieSelect:hover, #categorieArme:hover,  #categorieSexe:hover, #categorieStatut:hover {
  border-color: #0074d9;
}

#categorieSelect option, #categorieArme option,  #categorieSexe option, #categorieStatut option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

  .section-filtre {
    width: 80vw;
    margin: 5% auto;
    border-radius: 8px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* répartir les sous-menus horizontalement */
    
  }
  
  .filtre {
    margin: 0px 5%;
    flex: 1; /* occupe l'espace disponible de manière égale */
    padding: 10px;
    text-align: start; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  
  .titre-filtre {
    width: 100%;
    background-color: var(--couleur-header);
    border-radius: 8px 8px 0 0;
    color: whitesmoke;
    text-align: center; 
  }


.competition-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* espace entre les tuiles */
    margin-top: 7%;
}

.competition-tile {
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    min-width: 300px; /* Largeur minimale de la tuile */
}

.competition-info {
    font-size: 16px;
}

.btn-info {
    --bs-btn-bg: transparent;
    --bs-btn-color: #0dcaf0;
    --bs-btn-hover-color: white;
    margin-right: 10px;
}

