#categorieSelect, #categorieArme, #categorieSexe, #categorieStatut {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

#categorieSelect:hover, #categorieArme:hover,  #categorieSexe:hover, #categorieStatut:hover {
  border-color: #0074d9;
}

#categorieSelect option, #categorieArme option,  #categorieSexe option, #categorieStatut option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

  .section-filtre {
    border-radius: 8px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* répartir les sous-menus horizontalement */
    
  }
  
  .filtre {
    margin: 0px 5%;
    flex: 1; /* occupe l'espace disponible de manière égale */
    padding: 10px;
    text-align: start; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  
  .titre-filtre {
    width: 100%;
    background-color: var(--couleur-header);
    border-radius: 8px 8px 0 0;
    color: whitesmoke;
    text-align: center; 
  }

  .competition-container {
    margin: 2em auto 0;
    height: 30vw;
}

.competition-container table {
  border-collapse: collapse;
}

.title{
  width: 100%;
  background-color: var(--couleur-header);
  border-radius: 8px 8px 0 0;
  color: whitesmoke;
  text-align: center; 
  border-radius: 15px;
}

th
{
  padding: 20px; 
}

.consulter{
  color: #01437C;
}

.competition-container table td {
  text-align: center;
}

table{
  width: 80vw;
}

.content{
  width: 80vw;
  margin: 0 auto;
}