html {
  background-color: var(--couleur-background);
  font-family: "Poppins", sans-serif;
}

body {
  margin: 2% 30%;
  height: 90vh;
}

form {
  background-color: #ffffff;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  padding: 2% 4%;
}

.fa-solid {
    color: #000000;
}

.quitter {
  text-align: end;
}

img {
  margin-top: 5%;
  margin-bottom: 7%;
  width: 30%;
}

h1 {
  font-size: 1.2vw;
}

p {
  text-align: start;
}

p,
h1,
.email {
  margin: 0 5% 10% 5%;
}

.email input {
  background-color: var(--couleur-fond-textfield);
  border: none;
  border-radius: 10px;
  padding: 2%;
  width: 95%;
}

button {
  text-align: center;
  font-size: 1rem;
  padding: 1.25rem 2.5rem;
  background-color: #000000;
  border: 1px solid transparent;
  color: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #3f3f3f;
}
