@media (max-width: 1690px) {
    .image-connexion{
        display: none;
    }
    .partie-connexion{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .bouton-connexion {
        margin: 10% 0 1rem 0;
    }
    .switch-to-inscription {
        margin-top: 4rem;
      }
  }
  
@media(max-width : 950px){
    form {
        display: flex;
        justify-content: none;
        align-items: none;
        width: 100%;
    }
}