.liste-table{
    display: flex;
    background-color: white;
    margin-bottom: 50px;
    padding-bottom: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre douce en bas */
    border-radius: 10px;
}

main{
    margin-bottom: 5%;
}

tr{
    margin-top: 1000%;
}

td{
    font-size: 25px;
}

th{
    font-size: 28px;
}

.div-btn-conclure{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5%;
}

.div-btn-conclure > button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--couleur-header);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5%;
}

.textfield-score{
    width: 40%;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.liste-table table{
    text-align: center;
}

main{
    margin: 0 5%;
}

.haut-tableau{
    background-color: var(--couleur-header  );
    margin-top: 5%;
    padding-left: 2%;
    border-radius: 10px 10px 0 0;
}
.titre-transparent{
    color: transparent;
}

.nom-prenom-club{
    width: 100%;
    font-size: 100%;
}

.textfield-score-disabled{
    background-color: black;
}

.textfield-score-ok{
    background-color: rgba(50,135,255,0.62);
    text-align: center;
    font-size: 100%;
}

.td-textfield-matrice{
    width: 15px;
}

/* Pour enlever les flèches de l'input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }


  