@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



:root{
    --couleur-header : #01437C;
    --couleur-background : #F3F3F3;
    --couleur-fond-textfield : #ebebeb;
    --couleur-mot-de-passe-oublie : #E86969;
    --couleur-lien : #01357E;


    /* Pour la page "Ordre des matchs" */
    --couleur-background-quart : #ffebee;
    --couleur-texte-quart : #CE4752;
    --couleur-background-demi : #DFF1F0;
    --couleur-texte-demi-finale : #478F87;
    --couleur-background-troisieme : #F2E3F4;
    --couleur-texte-troisieme : #8C409E;

    /* Pour la page "Arbre" */
    --couleur-background-gagnant : rgba(50,135,255,0.62);
    --couleur-background-perdant : #BCBCBC;

    /* Pour tout les boutons */
    --bouton-annuler : #D32C2C;
    --bouton-confirmation-validation : #01437C;
    --bouton-enlever-club-tireur : #FF4015;
    --bouton-voir-tireur-blois : #01357E;
    --bouton-voir-tireur-autres : #FFAB01;
}