{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='Affichage-score.css') }}" />
<div class="progress-bar">
    <a class="active-url" href="{{ url_for('ajout_comp_page')}}">Définir une compétition</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_participants', id_comp=competition.idComp)}}">Gestion participants</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_poules', id_comp=competition.idComp)}}">Créer les poules</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('appel', id_comp=competition.idComp)}}">Appel</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_score', id_comp=competition.idComp)}}">Gestion score</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a href="{{ url_for('afficher_score_poule', id_comp=competition.idComp)}}">Classement Final</a>
  </div>
<nav class="nav-table">
    <a href="">Page des scores de poule</a>
    <div class="affichage-table">
        <p>Affichage</p>
        <div class="bouton">
            <button type="button" class="btn-primary">5</button>
            <button type="button" class="btn-primary">10</button>
            <button type="button" class="btn-primary">25</button>
        </div>
    </div>
</nav>
{% include 'score_table_pdf.html' %}
<div class="bas-de-page">
    <button type="button" class="btn-bas-de-page"><a style="color: white;" href="{{ url_for('gestion_score', id_comp=competition.idComp)}}">Retour</a></button>
    <div>
        
    </div>
</div>

{% endblock %}