{% extends 'base.html' %} {% block content %} {% include 'progress-bar.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='Affichage-score.css') }}" />
<nav class="nav-table">
    <a href="">Page des scores de poule</a>
    <div class="affichage-table">
        <p>Affichage</p>
        <div class="bouton">
            <button type="button" class="btn-primary">5</button>
            <button type="button" class="btn-primary">10</button>
            <button type="button" class="btn-primary">25</button>
        </div>
    </div>
</nav>
{% include 'score_table_pdf.html' %}
<div class="bas-de-page">
    <button type="button" class="btn-bas-de-page">Retour</button>
    <div>
        <!-- <a href="{{ url_for("telecharger_pdf", id_comp=competition.idComp) }}" class="btn-bas-de-page">Télécharger en PDF</a>
        <button type="button" class="btn-bas-de-page">Valider</button> -->
    </div>
</div>

{% endblock %}