{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='ajout-comp.css')}}" />
<link rel="stylesheet" href="{{ url_for ('static', filename='responsive-creer-comp.css') }}">
{% include 'progress-bar.html' %}
  <form method='POST'>
    {{ form.hidden_tag() }}
    <div class="center">
      <div class="left-form">
        <div class="test">
          <div class="titre-formulaire">
            <h2>DONNÉES TECHNIQUES</h2>
          </div>
          <div class="partie-input">
            <div class="label-input">
              {{ form.titre.label(class='label') }} {{ form.titre(class='input') }}
            </div>
            <div class="label-input">
              {{ form.organisateur.label(class='label') }} {{ form.organisateur(class='input') }}
            </div>
            <div class="label-input">
              {{ form.lieu.label(class='label') }} {{ form.lieu(class='input') }}
            </div>
            <div class="label-input">
              {{ form.date_deroulement.label(class='label') }} {{ form.date_deroulement(class='input') }}
            </div>
            <div class="label-input">
              {{ form.heure_debut.label(class='label') }} {{ form.heure_debut(class='input') }}
            </div>
          </div>
        </div>
        <div class="bouton-annuler">
          <a href="{{ url_for('home_default') }}" class="btn-annuler">ANNULER</a>
        </div>
      </div>

      <div class="right-form">
        <div class="test">
          <div class="titre-formulaire">
            <h2>STANDARD</h2>
          </div>
          <div class="partie-input-droite">
            <div class="combox-box comb-arme">
              {{ form.arme.label(class='label') }} {{ form.arme(class='select') }}
            </div>
            <div class="combox-box comb-arme">
              {{ form.sexe.label(class='label') }} {{ form.sexe(class='select') }}
            </div>
            <div class="combox-box comb-cate">
              {{ form.categorie.label(class='label') }} {{ form.categorie(class='select') }}
            </div>
            <div class="combox-box comb-type">
              {{ form.type_comp.label(class='label') }} {{ form.type_comp(class='select') }}
            </div>
          </div>
        </div>
        <div class="bouton-publier">
          {{ form.submit(class='btn-publier') }}
        </div>
      </div>
    </div>    
  </form>
{% endblock %}