{% extends 'base.html' %}
{% block content %}
<div class="progress-bar">  
    <a class="active-url" href="url">Définir une compétition</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche">
    <a href="url">Gestion participants</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche">
    <a href="url">Créer les poules</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche">
    <a href="url">Appel</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche">
    <a href="url">Gestion score</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche">
    <a href="url">Classement Final</a>
</div>
<div class="center">
    <div class="left-form"></div>
    <div class="right-form"></div>
</div>
<div class="buttons">
    <button class="btn-annuler">Annuler</button>
    <button class="btn-publier">Publier le tournoi</button>
</div>

{% endblock %}
