<form action="{{ url_for('ajouter_escrimeur') }}" method="POST">
    <div class="container">
        <div class="popup" id="popup">
           <h1>AJOUT ADHERENT</h1> 
               <div class="content">  
                <ul>
                    <li>
                        <div id="nom">
                            <label for="nom">Nom :</label>
                            <input type="text" id="nom" name="nom" required placeholder="Nom"><br>
                        </div>
                    </li>
                    <li>
                            <div id="prenom">
                            <label for="prenom">Prénom :</label>
                            <input type="text" id="prenom" name="prenom" required placeholder="Prénom"><br>
                        </div>
                    </li>
                    <li>
                        <div id="datenaissance">
                            <label for="date_naissance">Date de naissance :</label>
                            <input type="date" id="date_naissance" name="date_naissance" required><br>
                        </div>
                    </li>
                    <li>
                        <div id="numlicence"> 
                            <label for="numero_licence">Numéro de licence :</label>
                            <input type="text" id="numero_licence" name="numero_licence" required placeholder="Numéro de licence"><br>
                        </div>
                    </li>
                    <li>
                        <div id="sexe">
                            <label for="categorieSexe">Sexe :</label>
                            <select id="categorieSexe" name="sexeE">
                                <option value="homme">Homme</option>
                                <option value="femme">Femme</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div id ="classement">
                            <label for="classementE">Classement (optionnel) : </label>
                            <input type="text" id="classementE" name="classementE" required placeholder="Classement"><br>
                        </div>
                    </li>
                    <li>
                        <div id ="telephone">
                            <label for="numTelE">Numéro de Téléphone :</label>
                            <input type="text" id="numTelE" name="numTelE" placeholder="+33"><br>
                        </div>
                    </li>
                    <li>
                        <div id="boutons">
                            <button class="annuler-ajouter" type="submit">Annuler</button>
                            <button class="annuler-ajouter" type="submit">Ajouter</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
