{% extends 'base.html' %}
{% block content %}
  <div class="progress-bar">
    <a class="active-url" href="url">Définir une compétition</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche" />
    <a href="url">Gestion participants</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche" />
    <a href="url">Créer les poules</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche" />
    <a href="url">Appel</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche" />
    <a href="url">Gestion score</a>
    <img class="fleche-bar" src="static/img/fleche.png" alt="fleche" />
    <a href="url">Classement Final</a>
  </div>
  <div class="center">
    <div class="left-form">
      <form method="POST" class="test" action="{{ url_for('ajout_comp_page') }}">
        <div class="titre-formulaire">
          <h2>DONNÉES TECHNIQUES</h2>
        </div>
        <div class="partie-input">
          <div class="label-input">
            <label for="title">Titre</label>
            <input type="text" id="titre" name="titre" maxlength="12" required />
          </div>
          <div class="label-input">
            <label for="title">Organisateur</label>
            <input type="text" id="Organisateur" name="organisateur" maxlength="12" required />
          </div>
          <div class="label-input">
            <label for="title">Lieu</label>
            <input type="text" id="lieu" name="lieu" />
          </div>
          <div class="label-input">
            <label for="title">Date déroulement</label>
            <input type="date" id="deroulement" name="date-deroulement" value="2023-11-16" min="2023-11-16" />
          </div>
          <div class="label-input">
            <label for="appt">Heure début</label>
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required />
          </div>
        </div>
      </form>
      <div class="bouton-annuler">
        <button class="btn-annuler" type="button">ANNULER</button>
      </div>
    </div>
    <div class="right-form">
      <form method="POST" class="test" action="{{ url_for('ajout_comp_page') }}">
        <div class="titre-formulaire">
          <h2>STANDARD</h2>
        </div>
        <div class="partie-input-droite">
          <div class="combox-box comb-arme">
            <label for="arme">Catégorie</label>
            <select name="categorieArme" id="categorieArme">
              <option value="">Toutes les catégories</option>
              {% for arme in listeArmes %}
              <option value="{{ arme }}">{{ arme }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="combox-box comb-arme">
            <label for="sexe">Sexe</label>
            <select name="sexe" id="sexe">
              <option value="H">Homme</option>
              <option value="F">Femme</option>
            </select>
          </div>
          <div class="combox-box comb-cate">
            <label for="categorie">Catégorie</label>
            <select name="categorie" id="categorie">
              <option value="">Toutes les catégories</option>
              {% for categorie in listeCategories %}
              <option value="{{ categorie }}">{{ categorie }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="combox-box comb-type">
            <label for="type">Type</label>
            <select name="type" id="type">
              {% for typeMatch in listeTypeMatch %}
              <option value="{{ typeMatch }}">{{ typeMatch }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="bouton-publier">
          <button class="btn-publier" type="submit">Publier le tournoi</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
