{% extends 'base.html' %} {% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'progress-bar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'Appel.css') }}" />
  <div class="progress-bar">
    <a class="active-url" href="url">Définir une compétition</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a class="active-url" href="url">Gestion participants</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a class="active-url" href="url">Créer les poules</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Appel</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Gestion score</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Classement Final</a>
  </div>

  <main>
    <div class="titre">
      <div class="nom-heure">
        <div class="nom">
          <h3>Appel du tournoi</h3>
          <h3 class="nom-tournoi">test</h3>
        </div>
        <div class="separation"></div>
        <div class="heure">
          <h3>Heure début</h3>
          <h3 class="heure-tournoi">test</h3>
        </div>
      </div>
      <div class="present-absent">
        <div class="string-present-abs">
          <h4>Présents</h4>
          <h4>Absents</h4>
        </div>
        <div class="int-present-abs">
          <h4>0/0</h4>
          <h4>0/0</h4>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Présent</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Date de naissance</th>
          <th>Numéro de téléphone</th>
          <th>Sexe</th>
          <th>Club</th>
          <th>Classement</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows_data %}
          <tr>
            <td class="checkbox-cell">
              <input id="checkbox-1" type="checkbox" />
            </td>
            <td>{{ row['Nom'] }}</td>
            <td>{{ row['Prenom'] }}</td>
            <td>{{ row['DateNaissance'] }}</td>
            <td>{{ row['Telephone'] }}</td>
            <td>{{ row['Sexe'] }}</td>
            <td>{{ row['Club'] }}</td>
            <td>{{ row['Classement'] }}</td>
            <td class="checkbox-cell">
              <input id="checkbox-2" type="checkbox" />
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="div-boutons">
      <button><i class="fa-solid fa-arrow-left"></i> RETOUR</button>
      <div class="tout-cocher">
        <p>TOUT COCHER</p>
        <input id="checkbox-valid-all" type="checkbox" />
      </div>
      <button><i class="fa-solid fa-check"></i> Valider l'appel</button>
    </div>
  </main>
  
{% endblock %}