{% extends 'base.html' %} {% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'progress-bar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'Appel.css') }}" />
  <script>
    var participants_present = {{ participants_present|tojson }};
    console.log(participants_present);
    var participants = {{ rows_data|tojson }};
    var participants_absents = participants;
    var listeLicenceStockee = "";
  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{{ url_for('static', filename='js/appel.js') }}"></script>
  
  <div class="progress-bar">
    <a class="active-url" href="{{ url_for('ajout_comp_page')}}">Définir une compétition</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_participants', id_comp=competition.idComp)}}">Gestion participants</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_poules', id_comp=competition.idComp)}}">Créer les poules</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('appel', id_comp=competition.idComp)}}">Appel</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a href="{{ url_for('gestion_score', id_comp=competition.idComp, id_type_match=1)}}">Gestion score</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a href="{{ url_for('afficher_score_poule', id_comp=competition.idComp)}}">Classement Final</a>
  </div>

  <main>
    <div class="titre">
      <div class="nom-heure">
        <div class="nom">
          <h3>Appel du tournoi</h3>
          <h3 class="nom-tournoi">{{ competition.nomComp }}</h3>
        </div>
        <div class="separation"></div>
        <div class="heure">
          <h3>Heure début</h3>
          <h3 class="heure-tournoi">{{ competition.heureComp }}</h3>
        </div>
      </div>
      <div class="present-absent">
        <div class="string-present-abs">
          <h4>Présents</h4>
          <h4>Absents</h4>
        </div>
        <div class="int-present-abs"> 
          <h4 id="participants-count">{{ participants_present|length }}/{{rows_data|length}}</h4>
          <h4 id="absents-count">{{ rows_data|length }}/{{ rows_data|length }}</h4>
        </div>
      </div>
    </div>
    <table class="tableau-appel">
      <thead>
        <tr>
          <th>Présent</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Date de naissance</th>
          <th>Numéro de téléphone</th>
          <th>Sexe</th>
          <th>Club</th>
          <th>Classement</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows_data %}
          <tr data-row="{{ row|tojson|safe }}" data-id="{{ loop.index0 }}">
            <td class="checkbox-cell">
              <input class="checkbox-participant" type="checkbox" />
            </td>
            <td>{{ row['nomE'] }}</td>
            <td>{{ row['prenomE'] }}</td>
            <td>{{ row['dateNaissanceE'] }}</td>
            <td>{{ row['numTelE'] }}</td>
            <td>{{ row['sexeE'] }}</td>
            <td>{{ row['nomClub'] }}</td>
            <td>{{ row['classement'] }}</td>
            <td class="checkbox-cell">
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="div-boutons">
      <button><i class="fa-solid fa-arrow-left"></i><a style="color: white;" href="{{ url_for('gestion_poules', id_comp=competition.idComp)}}" > RETOUR</button>
      <div class="tout-cocher">
        <p>TOUT COCHER</p>
        <input id="checkbox-valid-all" type="checkbox" />
      </div>
<form id="validationForm" method="POST" action="{{ url_for('arbitrage', id_comp=competition.idComp, id_type_match=1) }}">
    <button type="submit" id="bouton_valid"><i class="fa-solid fa-check"></i> Valider l'appel</button>
    <input type="hidden" name="liste_absents" id="listeAbsentsInput" value="">
</form>
    </div>
  </main>
{% endblock %}