{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='arbre.css') }}" />
<div class="progress-bar">
  <a class="active-url" href="{{ url_for('ajout_comp_page')}}">Définir une compétition</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a class="active-url" href="{{ url_for('gestion_participants', id_comp=1)}}">Gestion participants</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a class="active-url" href="{{ url_for('gestion_poules', id_comp=1)}}">Créer les poules</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a class="active-url" href="{{ url_for('appel', id_comp=1)}}">Appel</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a class="active-url" href="{{ url_for('gestion_score', id_comp=1, id_type_match = 1)}}">Gestion score</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a class="active-url" href="{{ url_for('arbre', id_comp=1)}}">Classement Final</a>
</div>
<main>
  <div class="classement-provisoire-match">
    <a href=""{{ url_for('arbre', id_comp=1)}}"">Voir classement provisoire du tournoi</a>
    <a href="">Voir ordre des matchs</a>
  </div>

  <div class="parent">
    <div class="div1 titre-table">Quart de finale</div>
    <div class="div2 titre-table">Demi finale</div>
    <div class="div3 titre-table">Finale</div>
    <div class="div4 titre-table">Vainqueur</div>
    {% if quarts|length >= 1 %}
      <div class="div5">
        <div>
          <div class="joueur joueur1">
            <p>{{quarts[0]['tireur1'].escrimeur.nomE}}, {{quarts[0]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{quarts[0]['touchesDonneesTireur1']}}</p>
          </div>
          <div class="joueur joueur2">
            <p>{{quarts[0]['tireur2'].escrimeur.nomE}}, {{quarts[0]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur score-joueur-perdu">{{quarts[0]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="div5">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if quarts|length >= 2 %}
      <div class="div6">
        <div>
          <div class="joueur joueur1">
            <p>{{quarts[1]['tireur1'].escrimeur.nomE}}, {{quarts[1]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{quarts[1]['touchesDonneesTireur1']}}</p>
          </div>
          <div class="joueur joueur2">
            <p>{{quarts[1]['tireur2'].escrimeur.nomE}}, {{quarts[1]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur score-joueur-perdu">{{quarts[1]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="div6">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if quarts|length >= 3  %}
      <div class="div7">
        <div>
          <div class="joueur joueur1">
            <p>{{quarts[2]['tireur1'].escrimeur.nomE}}, {{quarts[2]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{quarts[2]['touchesDonneesTireur1']}}</p>
          </div>
          <div class="joueur joueur2">
            <p>{{quarts[2]['tireur2'].escrimeur.nomE}}, {{quarts[2]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur score-joueur-perdu">{{quarts[2]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="div7">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if quarts|length >= 4 %}
      <div class="div8">
        <div>
          <div class="joueur joueur1">
            <p>{{quarts[3]['tireur1'].escrimeur.nomE}}, {{quarts[3]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{quarts[3]['touchesDonneesTireur1']}}</p>
          </div>
          <div class="joueur joueur2">
            <p>{{quarts[3]['tireur2'].escrimeur.nomE}}, {{quarts[3]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur score-joueur-perdu">{{quarts[3]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="div8">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="div9 div-barre">
      <div class="partie-gauche">
        <div class="petites-bars"></div>
        <div class="petites-bars"></div>
      </div>
      <div class="barre"></div>
      <div class="partie-droite">
        <div class="petite-bar-droite"></div>
      </div>
    </div>
    <div class="div10">
      <div class="partie-gauche">
        <div class="petites-bars"></div>
        <div class="petites-bars"></div>
      </div>
      <div class="barre"></div>
      <div class="partie-droite">
        <div class="petite-bar-droite"></div>
      </div>
    </div>
    {% if demis|length >= 1 %}
      <div class="div11">
        <div>
          <div class="joueur joueur1">
            <p>{{demis[1]['tireur1'].escrimeur.nomE}}, {{demis[1]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{demis[1]['touchesDonneesTireur1']}}</p>
          </div>
          <div class="joueur joueur2">
            <p>{{demis[1]['tireur2'].escrimeur.nomE}}, {{demis[1]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur score-joueur-perdu">{{demis[1]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="div11">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if demis|length >= 2 %}
      <div class="div12">
        <div>
          <div class="joueur joueur1">
            <p>{{demis[0]['tireur1'].escrimeur.nomE}}, {{demis[0]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{demis[0]['touchesDonneesTireur1']}}</p>
          </div>
          <div class="joueur joueur2">
            <p>{{demis[0]['tireur2'].escrimeur.nomE}}, {{demis[0]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur score-joueur-perdu">{{demis[0]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="div12">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="div13">
      <div class="partie-gauche">
        <div class="petites-bars"></div>
        <div class="petites-bars"></div>
      </div>
      <div class="barre"></div>
      <div class="partie-droite">
        <div class="petite-bar-droite"></div>
      </div>
    </div>
    {% if finale|length >= 1 %}
      <div class="div14">
        <div>
          <div class="joueur joueur1">
            <p>{{finale[0]['tireur1'].escrimeur.nomE}}, {{finale[0]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{finale[0]['touchesDonneesTireur1']}}</p>
          </div>
          <div class="joueur joueur2">
            <p>{{finale[0]['tireur2'].escrimeur.nomE}}, {{finale[0]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur score-joueur-perdu">{{finale[0]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      {% if finale[0]['touchesDonneesTireur1'] and finale[0]['touchesDonneesTireur1'] >= 15 %}
        <div class="div15">
          <div class="partie-gauche">
            <div class="petites-bars"></div>
            <div class="petites-bars"></div>
          </div>
          <div class="barre"></div>
          <div class="partie-droite">
            <div class="petite-bar-droite"></div>
          </div>
        </div>
        <div class="div16">
          <div>
            <div class="joueur joueur1">
              <p>{{finale[0]['tireur1'].escrimeur.nomE}}, {{finale[0]['tireur1'].escrimeur.prenomE}}</p>
              <p class="score-joueur">{{finale[0]['touchesDonneesTireur1']}}</p>
            </div>
          </div>
        </div>
      {% elif finale[0]['touchesDonneesTireur2'] and finale[0]['touchesDonneesTireur2'] >= 15 %}
        <div class="div15">
          <div class="partie-gauche">
            <div class="petites-bars"></div>
            <div class="petites-bars"></div>
          </div>
          <div class="barre"></div>
          <div class="partie-droite">
            <div class="petite-bar-droite"></div>
          </div>
        </div>
        <div class="div16">
          <div>
            <div class="joueur joueur1">
              <p>{{finale[0]['tireur2'].escrimeur.nomE}}, {{finale[0]['tireur2'].escrimeur.prenomE}}</p>
              <p class="score-joueur score-joueur-perdu">{{finale[0]['touchesDonneesTireur2']}}</p>
            </div>
          </div>
        </div>
      {% else %}
        <div class="div15">
          <div class="partie-gauche">
            <div class="petites-bars"></div>
            <div class="petites-bars"></div>
          </div>
          <div class="barre"></div>
          <div class="partie-droite">
            <div class="petite-bar-droite"></div>
          </div>
        </div>
        <div class="div16">
          <div>
            <div class="joueur joueur1">
              <p>Non determiné</p>
              <p class="score-joueur">0</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% else %}
      <div class="div14">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
      <div class="div15">
        <div class="partie-gauche">
          <div class="petites-bars"></div>
          <div class="petites-bars"></div>
        </div>
        <div class="barre"></div>
        <div class="partie-droite">
          <div class="petite-bar-droite"></div>
        </div>
      </div>
      <div class="div16">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="parent-2">
    {% if huitiemes|length >= 8 %}
      <div class="div-1 titre-table">Huitième de finale</div>
      <div class="div-2">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[0]['tireur1'].escrimeur.nomE}}, {{huitiemes[0]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[0]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-3">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[0]['tireur2'].escrimeur.nomE}}, {{huitiemes[0]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[0]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      <div class="div-5">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[1]['tireur1'].escrimeur.nomE}}, {{huitiemes[1]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[1]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-6">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[1]['tireur2'].escrimeur.nomE}}, {{huitiemes[1]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[1]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      <div class="div-7">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[2]['tireur1'].escrimeur.nomE}}, {{huitiemes[2]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[2]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-8">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[2]['tireur2'].escrimeur.nomE}}, {{huitiemes[2]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[2]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      <div class="div-9">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[3]['tireur1'].escrimeur.nomE}}, {{huitiemes[3]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[3]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-10">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[3]['tireur2'].escrimeur.nomE}}, {{huitiemes[3]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[3]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      <div class="div-11">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[4]['tireur1'].escrimeur.nomE}}, {{huitiemes[4]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[4]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-12">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[4]['tireur2'].escrimeur.nomE}}, {{huitiemes[4]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[4]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      <div class="div-13">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[5]['tireur1'].escrimeur.nomE}}, {{huitiemes[5]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[5]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-14">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[5]['tireur2'].escrimeur.nomE}}, {{huitiemes[5]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[5]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      <div class="div-15">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[6]['tireur1'].escrimeur.nomE}}, {{huitiemes[6]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[6]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-16">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[6]['tireur2'].escrimeur.nomE}}, {{huitiemes[6]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[6]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
      <div class="div-17">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[7]['tireur1'].escrimeur.nomE}}, {{huitiemes[7]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[7]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
      <div class="div-18">
        <div>
          <div class="joueur joueur2">
            <p>{{huitiemes[7]['tireur2'].escrimeur.nomE}}, {{huitiemes[7]['tireur2'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[7]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    </div>
    {% if huitiemes[0]['touchesDonneesTireur1'] and huitiemes[0]['touchesDonneesTireur1'] >= 15 %}
      <div class="div-5">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[0]['tireur1'].escrimeur.nomE}}, {{huitiemes[0]['tireur1'].escrimeur.prenomE}}</p>
            <p class="score-joueur">{{huitiemes[0]['touchesDonneesTireur1']}}</p>
          </div>
        </div>
      </div>
    {% elif huitiemes[0]['touchesDonneesTireur2'] and huitiemes[0]['touchesDonneesTireur2'] >= 15 %}
      <div class="div-5">
        <div>
          <div class="joueur joueur1">
            <p>{{huitiemes[0]['tireur2'].escrimeur.nomE}}, {{huitiemes[0]['tireur2'].escrimeur.prenomE}}</p>
              <p class="score-joueur">{{huitiemes[0]['touchesDonneesTireur2']}}</p>
          </div>
        </div>
      </div>
    {% else %}
      <div class="div-5">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% else %}
      <div class="div-1 titre-table">Huitième de finale</div>
      <div class="div-2">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-3">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur score-joueur-perdu">0</p>
          </div>
        </div>
      </div>
      <div class="div-5">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-6">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-7">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-8">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-9">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-10">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-11">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-12">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-13">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-14">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-15">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-16">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-17">
        <div>
          <div class="joueur joueur1">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
      <div class="div-18">
        <div>
          <div class="joueur joueur2">
            <p>Non determiné</p>
            <p class="score-joueur">0</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="div-4">
      <div class="partie-gauche">
        <div class="petites-bars"></div>
        <div class="petites-bars"></div>
      </div>
      <div class="barre"></div>
      <div class="partie-droite">
        <div class="petite-bar-droite"></div>
      </div>
    </div>
  </div>
</main>
{% endblock %}