<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/variables.css">
    <header>
        <nav>
            <div id="left">
                <img src="static/img/logo.png" alt="logo">
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Ajouter un tournoi</a></li>
                    <li><a href="">Liste adhérents</a></li>
                    <li><a href="">Liste compétitions</a></li>
                </ul>
            </div>
            <div id="right">
                <ul>
                    <li><p>Utilisateur 1</p></li>
                    <li><img src="static/img/Vector.png" alt="Engrenage"></li>
                </ul>
            </div>
        </nav>
    </header>
</head>
<body>
    
</body>
</html>