<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='variables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='adherent.css')}}" />
    <link rel="stylesheet" href="static/ajout-comp.css">
    <link rel="stylesheet" href="static/responsive-creer-comp.css">
    <title>Compétition ESCRIME</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div id="left">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" />
          <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">Ajouter un tournoi</a></li>
            <li><a href="">Liste adhérents</a></li>
            <li><a href="">Liste compétitions</a></li>
          </ul>
        </div>
        <div id="right">
          <ul>
            <li><img src="{{ url_for('static', filename='img/Vector.png') }}" alt="Engrenage" /></li>
            {% if current_user.is_authenticated %}
            <li>
              <a href=""
                >{{ current_user.username }}</a
              >
            </li>
            <li>
              <button><a href="{{ url_for('logout') }}">Logout</a></button>
            </li>
            {% endif %} {% if not current_user.is_authenticated %}
            <li>
              <form method="POST" role="login" action="{{ url_for('login') }}">
                <button type="submit" href="{{ url_for('login') }}">
                  Login
                </button>
              </form>
              {% endif %}
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% block content %} 
    {% endblock %}
     {% block scripts %} {{
    bootstrap.load_js() }} {% endblock %}
  </body>
</html>