{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />
{% endblock %}
 {% block content %}
<section class="content">
  <h1>
    Liste des compétitions
  </h1>
  <section class="section-filtre">
    <div class="titre-filtre">
      <h2>FILTRE</h2>
    </div>
    <form method="POST" action="{{ url_for('home_def', items=items) }}" id="filtreForm">
      <div class="filtre">
        <div class="Catégorie">
          <label for="categorieSelect">Catégorie:</label>
          <select id="categorieSelect" name="categorie" onchange="document.getElementById('filtreForm').submit();">
            <option value="">Toutes les catégories</option>
            {% for categorie in categories %}
            <option value="{{ categorie }}" {% if categorie == selec_categorie %}selected{% endif %}>{{ categorie }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="Arme">
          <label for="categorieArme">Arme:</label>
          <select id="categorieArme" name="arme" onchange="document.getElementById('filtreForm').submit();">
            <option value="">Non définie</option>
            {% for arme in armes %}
            <option value="{{ arme }}" {% if arme == selec_arme %}selected{% endif %}>{{ arme }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="Sexe">
          <label for="categorieSexe">Sexe:</label>
          <select id="categorieSexe" name="sexe" onchange="document.getElementById('filtreForm').submit();">
              <option value="">Non définie</option>
              <option value="H" {% if "H" == selec_sexe %}selected{% endif %}>Homme</option>
              <option value="F" {% if "F" == selec_sexe %}selected{% endif %}>Femme</option>
          </select>
      </div>
        <div class="Statut">
          <label for="categorieStatut">Statut:</label>
          <select id="categorieStatut" name="statut" onchange="document.getElementById('filtreForm').submit();">
            <option value="">Non définie</option>
            <option value="A venir" {% if "A venir" == selec_statut %}selected{% endif %}>A venir</option>
            <option value="Terminé" {% if "Terminé" == selec_statut %}selected{% endif %}>Terminé</option>
          </select>
        </div>
      </div>
    </form>
  </section>
      <div class="competition-container">
        <div class = "top-section">
        <div class="affichage">
          <ul>
            <li><p>Affichage : </p></li>
            <a class="item-link {% if items == 5 %}active-link{% endif %}" href="{{ url_for('home_def', items=5) }}">5</a>
            <a class="item-link {% if items == 10 %}active-link{% endif %}" href="{{ url_for('home_def', items=10) }}">10</a>
            <a class="item-link {% if items == 25 %}active-link{% endif %}" href="{{ url_for('home_def', items=25) }}">25</a>
          </ul>
        </div>
        <div class = "page">
          <p>Page : {{ page }}/{{total_pages}}</p>
        </div>
      </div>
        <table>
          <thead>
            <tr class="title">
              <th>Date</th>
              <th>Heure</th>
              <th>Nom de la compétition</th>
              <th>Arme</th>
              <th>Participants</th>
              <th>Catégorie</th>
              <th>Lieu</th>
              <th>Sexe</th>
              <th>Individuelle</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for competition in competitions %}
            <tr>
              <td>{{ competition.dateComp }}</td>
              <td>{{ competition.heureComp }}</td>
              <td>{{ competition.nomComp }}</td>
              <td>{{ competition.arme.nomArme }}</td>
              <td>{{ nb_participants[competition.idComp] }}</td>
              <td>{{ competition.categorie.nomCategorie }}</td>
              <td>{{ competition.lieu.nomLieu }}</td>
              <td>{{ competition.sexeComp }}</td>
              <td>{{ "Oui" if competition.estIndividuelle else "Non" }}</td>
              <td><a href="#" class="consulter">Consulter</a></td>
            </tr>
            <div class = "ligne"></div>
            {% endfor %}
          </tbody>
        </table>
  </section>
  <div class="pagination">
    <form method="POST" action="{{ url_for('home_def', items=items)}}">
      <input type="hidden" name="items" value="{{ items }}">
      <input type="hidden" name="page" value="{{ page }}">
      {% if page > 1 %}
          <button type="submit" name="prev" class="left" value="prev">Page précédente</button>
      {% endif %}
      {% if compet_filtre|length > page * items %}
      <a href="{{ url_for('home_def', items=items, page=page+1, categorie=selec_categorie, arme=selec_arme, sexe=selec_sexe, statut=selec_statut) }}" class="right">Page suivante</a>
      {% endif %}
  </form>
</div>
  {% endblock %}
