{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />
{% endblock %}
 {% block content %}
<section class="content">
  <h1>
    Liste des compétitions
    <h1>
      <section class="section-filtre">
        <div class="titre-filtre">
          <h2>FILTRE</h2>
        </div>
        <div class="filtre">
          <div class="Catégorie">
            <form method="POST" action="{{ url_for('home', items=items) }}" id="categorieForm">
                <label for="categorieSelect">Catégorie:</label>
                <select id="categorieSelect" name="categorie" onchange="document.getElementById('categorieForm').submit();">
                    <option value="">Toutes les catégories</option>
                    {% for categorie in categories %}
                    <option value="{{ categorie }}" {% if categorie == selec_categorie %}selected{% endif %}>{{ categorie }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="Arme">
            <form method="POST" action="{{ url_for('home', items=items) }}" id="armeForm">
                <label for="categorieArme">Arme:</label>
                <select id="categorieArme" name="arme" onchange="document.getElementById('armeForm').submit();">
                    <option value="">Non définie</option>
                    {% for arme in armes %}
                    <option value="{{ arme }}" {% if arme == selec_arme %}selected{% endif %}>{{ arme }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="Sexe">
            <form method="POST" action="{{ url_for('home', items=items) }}" id="sexeForm">
                <label for="categorieSexe">Sexe:</label>
                <select id="categorieSexe" name="sexe" onchange="document.getElementById('sexeForm').submit();">
                    <option value="">Non définie</option>
                    <option value="H" {% if "Homme" == selec_sexe %}selected{% endif %}>Homme</option>
                    <option value="F" {% if "Femme" == selec_sexe %}selected{% endif %}>Femme</option>
                </select>
            </form>
        </div>
        <div class="Statut">
            <form method="POST" action="{{ url_for('home', items=items) }}" id="statutForm">
                <label for="categorieStatut">Statut:</label>
                <select id="categorieStatut" name="statut" onchange="document.getElementById('statutForm').submit();">
                    <option value="">Non définie</option>
                    <option value="A venir" {% if "A venir" == selec_statut %}selected{% endif %}>A venir</option>
                    <option value="Terminé" {% if "Terminé" == selec_statut %}selected{% endif %}>Terminé</option>
                </select>
            </form>
        </div>
        </div>
      </section>
      <div class="competition-container">
        <div class="affichage">
          <ul>
            <li><p>Affichage : </p></li>
            <a class="item-link {% if items == 5 %}active-link{% endif %}" href="{{ url_for('home', items=5) }}">5</a>
            <a class="item-link {% if items == 10 %}active-link{% endif %}" href="{{ url_for('home', items=10) }}">10</a>
            <a class="item-link {% if items == 25 %}active-link{% endif %}" href="{{ url_for('home', items=25) }}">25</a>
          </ul>
        </div>
        <table>
          <thead>
            <tr class="title">
              <th>Date</th>
              <th>Heure</th>
              <th>Nom de la compétition</th>
              <th>Arme</th>
              <th>Participants</th>
              <th>Catégorie</th>
              <th>Lieu</th>
              <th>Sexe</th>
              <th>Individuelle</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for competition in competitions %}
            <tr>
              <td>{{ competition.dateComp }}</td>
              <td>{{ competition.heureComp }}</td>
              <td>{{ competition.nomComp }}</td>
              <td>{{ competition.arme.nomArme }}</td>
              <td>{{ nb_participants[competition.idComp] }}</td>
              <td>{{ competition.categorie.nomCategorie }}</td>
              <td>{{ competition.lieu.nomLieu }}</td>
              <td>{{ competition.sexeComp }}</td>
              <td>{{ "Oui" if competition.estIndividuelle else "Non" }}</td>
              <td><a href="#" class="consulter">Consulter</a></td>
            </tr>
            <div class = "ligne"></div>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <section>{% endblock %}</section>
    </h1>
  </h1>
</section>

