{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />
{% endblock %}
 {% block content %}
<section class="content">
  <h1>
    Liste des compétitions
  </h1>
  <section class="section-filtre">
    <div class="titre-filtre">
      <h2>FILTRE</h2>
    </div>
    <form method="POST" action="{{ url_for('home_def', items=items) }}" id="filtreForm">
      <div class="filtre">
        <div class="Catégorie">
          <label for="categorieSelect">Catégorie:</label>
          <select id="categorieSelect" name="categorie" onchange="document.getElementById('filtreForm').submit();">
            <option value="">Toutes les catégories</option>
            {% for categorie in categories %}
            <option value="{{ categorie }}" {% if categorie == selec_categorie %}selected{% endif %}>{{ categorie }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="Arme">
          <label for="categorieArme">Arme:</label>
          <select id="categorieArme" name="arme" onchange="document.getElementById('filtreForm').submit();">
            <option value="">Non définie</option>
            {% for arme in armes %}
            <option value="{{ arme }}" {% if arme == selec_arme %}selected{% endif %}>{{ arme }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="Sexe">
          <label for="categorieSexe">Sexe:</label>
          <select id="categorieSexe" name="sexe" onchange="document.getElementById('filtreForm').submit();">
              <option value="">Non définie</option>
              <option value="H" {% if "H" == selec_sexe %}selected{% endif %}>Homme</option>
              <option value="F" {% if "F" == selec_sexe %}selected{% endif %}>Femme</option>
          </select>
      </div>
        <div class="Statut">
          <label for="categorieStatut">Statut:</label>
          <select id="categorieStatut" name="statut" onchange="document.getElementById('filtreForm').submit();">
            <option value="">Non définie</option>
            <option value="A venir" {% if "A venir" == selec_statut %}selected{% endif %}>A venir</option>
            <option value="Terminé" {% if "Terminé" == selec_statut %}selected{% endif %}>Terminé</option>
          </select>
        </div>
      </div>
    </form>
  </section>
      <div class="competition-container">
        <div class = "top-section">
        <div class="affichage">
          <ul>
            <li><p>Affichage : </p></li>
            <a class="item-link {% if items == 5 %}active-link{% endif %}" href="{{ url_for('home_def', items=5) }}">5</a>
            <a class="item-link {% if items == 10 %}active-link{% endif %}" href="{{ url_for('home_def', items=10) }}">10</a>
            <a class="item-link {% if items == 25 %}active-link{% endif %}" href="{{ url_for('home_def', items=25) }}">25</a>
          </ul>
        </div>
        <div class = "page">
          <p>Page : {{ page }}/{{total_pages}}</p>
        </div>
      </div>
        <table>
          <thead>
            <tr class="title">
              <th>Date</th>
              <th>Heure</th>
              <th>Nom de la compétition</th>
              <th>Arme</th>
              <th>Participants</th>
              <th>Catégorie</th>
              <th>Lieu</th>
              <th>Sexe</th>
              <th>Individuelle</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for competition in competitions %}
            <tr>
              <td>{{ competition.dateComp }}</td>
              <td>{{ competition.heureComp }}</td>
              <td>{{ competition.nomComp }}</td>
              <td>{{ competition.arme.nomArme }}</td>
              <td>{{ nb_participants[competition.idComp] }}</td>
              <td>{{ competition.categorie.nomCategorie }}</td>
              <td>{{ competition.lieu.nomLieu }}</td>
              <td>{{ competition.sexeComp }}</td>
              <td>{{ "Oui" if competition.estIndividuelle else "Non" }}</td>
              <td>
                {% if user_status == "Administrateur" %}
                    <a href="{{ url_for('actu_stat_comp', id_comp=competition.idComp) }}" class="consulter">
                      Consulter
                    </a>
                  {% else %}
                  {% if competition in compet_filtre_a_venir %}
                    <form action="{{ url_for('home_def', items=items) }}" method="post">
                      {% if session["escrimeur_inscrit"] and
                        competition.idComp in escrimeur_inscrit["liste_competitions"] %}
                        <div id="boutons-inscrit">
                          <button class="deja-inscrit_comp" data-idComp="{{ competition.idComp }}" disabled>Déjà inscrit</button>
                        </div>
                      {% else %}
                        <button class="inscription-comp" data-idComp="{{ competition.idComp }}">S'inscrire</button>
                      {% endif %}
                    <div class="popup-inscription">
                      <div id="content-popup">
                          <input type="hidden" id="id_comp" name="id_comp" value="">
                          <input type="hidden" name="categorie_comp" value=" {{ competition.categorie.nomCategorie }} ">
                          <input type="hidden" name="sexe_comp" value = "{{ competition.sexeComp }}">
                          <button type="button" class="close-button"><span>x</span></button>
                          <h3>Choisissez votre rôle</h3>
                          <div class="radio-container">
                            <div class="label-radios">
                              <div id="tireur-content" class="radios">
                                <label for="radio-tireur">Tireur</label>
                                <input type="radio" id="radio-tireur" name="role" value="tireur" required>
                            </div>
                            <div id="arbitre-content" class="radios">
                              <label for="radio-arbitre">Arbitre</label>
                              <input type="radio" id="radio-arbitre" name="role" value="arbitre" required>
                            </div>
                          </div>
                          <div class="option_tireur">
                            <div id="club">
                              <label for="nom_club">Nom du club</label>
                              <input list="clubs" id="nom_club" name="nom_club" value="{{ tireur['club'] if session['tireur'] else ''}}">
                                <datalist name="clubs" id="clubs">
                                  {% for club in liste_club %}
                                    <option value="{{ club.idClub }}">{{ club.nomClub }}</option>
                                  {% endfor %}
                                </datalist>
                            </div>
                          <div id="classement-tireur">
                              <label for="classement">Classement</label>
                              <input type="text" name="classement" id="classement" value="{{ tireur['classement'] if session['tireur'] else '' }}">
                          </div>
                          {% if erreur_categorie %}
                            <p class="error">La catégorie de la compétition peut être au maximum 2 fois au dessus de la vôtre</p>
                            <button type="submit" class="validation-form" disabled>S'inscrire</button>
                          {% elif erreur_sexe %}
                            <p class="error">La compétition est réservée au sexe opposé</p>
                            <button type="submit" class="validation-form" disabled>S'inscrire</button>
                          {% else %}
                            <button type="submit" id="valid-tireur" class="validation-form">S'inscrire</button>
                          {% endif %}
                        </div>
                        <div class="option_arbitre">
                          <button type="submit" id="valid-arbitre" class="validation-form">S'inscrire</button>
                      </div>
                      </div>
                    </div>
                    </form>
                  {% else %}
                    <a href="{{ url_for('actu_stat_comp', id_comp=competition.idComp) }}" class="consulter">
                      Consulter
                    </a>
                  {% endif %}
                {% endif %}
              </td>            
            </tr>
            <div class="ligne"></div>
            {% endfor %}
          </tbody>
        </table>
  </section>
  <div class="pagination">
    <form method="POST" action="{{ url_for('home_def', items=items)}}">
      <input type="hidden" name="items" value="{{ items }}">
      <input type="hidden" name="page" value="{{ page }}">
      {% if page > 1 %}
          <button type="submit" name="prev" class="left" value="prev">Page précédente</button>
      {% endif %}
      {% if compet_filtre|length > page * items %}
      <a href="{{ url_for('home_def', items=items, page=page+1, categorie=selec_categorie, arme=selec_arme, sexe=selec_sexe, statut=selec_statut) }}" class="right">Page suivante</a>
      {% endif %}
  </form>
</div>

<script>
  let btnsInscriptionComp = document.querySelectorAll(".inscription-comp");
  btnsInscriptionComp.forEach(btn => {
      btn.addEventListener("click", () => {
        let popupInscription = btn.closest('tr').querySelector('.popup-inscription');
        popupInscription.style.display = 'block';
      });
  });
  let closeBtn = document.querySelectorAll(".close-button");
  closeBtn.forEach(btn => {
      btn.addEventListener('click', () => {
          let popupInscription = btn.closest('.popup-inscription');
          popupInscription.style.display = 'none';

          // Rendre les boutons radio non requis
          let radioButtons = popupInscription.querySelectorAll('input[type="radio"][name="role"]');
          radioButtons.forEach(radioButton => {
              radioButton.required = false;
          });
      });
  });

  let radioTireurs = document.querySelectorAll("#radio-tireur");
  let radioArbitres = document.querySelectorAll("#radio-arbitre");
  let optionTireurs = document.querySelectorAll(".option_tireur");
  let optionArbitres = document.querySelectorAll(".option_arbitre");

  radioTireurs.forEach((radioTireur, index) => {
    radioTireur.addEventListener("click", () => {
        optionTireurs[index].style.display = "flex";
        optionTireurs[index].style.flexDirection = "column";
        optionArbitres[index].style.display = "none";
    });
});

radioArbitres.forEach((radioArbitre, index) => {
    radioArbitre.addEventListener("click", () => {
        optionTireurs[index].style.display = "none";
        optionArbitres[index].style.display = "flex";
    });
});

let idComp;

document.querySelectorAll('.inscription-comp').forEach(btn => {
    btn.addEventListener('click', () => {
        idComp = btn.getAttribute('data-idComp'); // Mettre à jour la valeur de idComp
        let popupInscriptions = document.querySelectorAll('.popup-inscription');
        popupInscriptions.forEach(popup => {
            popup.style.display = 'none';
        });
        let popupInscription = btn.closest('tr').querySelector('.popup-inscription');
        popupInscription.style.display = 'block';
        let idCompInput = popupInscription.querySelector('input[name="id_comp"]');
        idCompInput.value = idComp;
    });
});


document.querySelector('#filtreForm').addEventListener('submit', () => {
  document.querySelectorAll('input[type="radio"][name="role"]').forEach(radio => {
      radio.checked = false;
  });
});

let idCompInputs = document.querySelectorAll('input[name="id_comp"]');
idCompInputs.forEach(input => {
  input.value = idComp;
});

</script>
  {% endblock %}
  