{% extends 'baseBS.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"> 
{% endblock %}
{% block content %}
<div class="competition-container">
    {% for competition in competitions %}
        <div class="competition-tile">
            <div class="competition-info">
                <strong>Nom de la compétition:</strong> {{ competition.nomComp }}<br>
                <strong>Arme:</strong> {{ competition.arme.nomArme }}<br>
                <strong>Catégorie:</strong> {{ competition.categorie.nomCategorie }}<br>
                <strong>Lieu:</strong> {{ competition.lieu.nomLieu }}, {{ competition.lieu.villeLieu }}, {{ competition.lieu.codePostalLieu }}<br>
                <strong>Date:</strong> {{ competition.dateComp }}<br>
                <strong>Heure:</strong> {{ competition.heureComp }}<br>
                <strong>Sexe:</strong> {{ competition.sexeComp }}<br>
                <strong>Individuelle:</strong> {{ "Oui" if competition.estIndividuelle else "Non" }}<br>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
