{% extends 'base.html' %} {% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'progress-bar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'progress-bar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'Score.css') }}" />

  <div class="progress-bar">
    <a class="active-url" href="{{ url_for('ajout_comp_page')}}">Définir une compétition</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_participants', id_comp=1)}}">Gestion participants</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_poules', id_comp=1)}}">Créer les poules</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('appel')}}">Appel</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a class="active-url" href="{{ url_for('gestion_score', id_comp=1)}}">Gestion score</a>
    <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
    <a href="{{ url_for('arbre')}}">Classement Final</a>
  </div>

  <main>
    <div class="classement-provisoire-match">
      <a href="">Voir classement provisoire du tournoi</a>
      <a href="">Voir ordre des matchs</a>
    </div>

    <div class="tableau-score">
      <form action="">
        <!-- pour chaque poule créer un tableau -->
        {% for i in range(1, poules|length +1) %}
          <div class="haut-tableau">
            <p>Poule n°{{ i }} - “heure_poule” - {{ poules[i]['piste'] }} - Arbitre : {{ poules[i]['arbitre'] }}</p>
          </div>

          <div class="liste-table">
            <table class="nom-prenom-club">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Club</th>
                </tr>
              </thead>
              <tbody>
                {% for tireur in poules[i]['tireurs'] %}
                  <tr class="nom-prenom-club">
                    <td>{{ tireur.nomE }}</td>
                    <td>{{ tireur.prenomE }}</td>
                    <td>{{ poules[i]['tireurs'][tireur] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <table>
              <thead>
                <tr class="titre-transparent">
                  {% for row in poules[i]['tireurs'] %}
                    <th>?</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for ind in range(poules[i]['tireurs']|length) %}
                  <tr class="tr-textfield-matrice">
                    {% for jind in range(poules[i]['tireurs']|length) %} {% if ind == jind %}
                        <td class="td-textfield-matrice">
                          <input class="textfield-score textfield-score-disabled" type="number" name="name" disabled />
                        </td>
                      {% else %}
                        {%if ind > jind%}
                        <td class="td-textfield-matrice">
                          <input class="textfield-score textfield-score-ok" type="number" name="name" />
                        </td>
                        {%else%}
                        <td class="td-textfield-matrice">
                          <input class="textfield-score score-gris textfield-score-ok" type="number" name="name" />
                        </td>
                        {% endif %}
                        
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th>V</th>
                  <th>TD</th>
                  <th>TR</th>
                  <th>TD-TR</th>
                  <th>Place</th>
                </tr>
              </thead>
              <tbody>
                {% for row in poules[i]['tireurs'] %}
                  <tr>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>???</td>
                    <td>
                      <input id="checkbox-2" type="checkbox" />
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
        </form>
      </div>

    <div class="div-btn-conclure">
      <button type="submit">Conclure</button>
    </div>
  </main>
{% endblock %}
