{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='gestion_participants.css') }}"
/>
<script>
  var competitionId = "{{ competition.idComp }}";
</script>
<script src="{{ url_for('static', filename='js/gestionParticipant.js') }}"></script>
{% include 'progress-bar.html' %}
<section class="content">
  <section class="section-infopr">
    <div class="infotitre">
      <h2>INFORMATIONS PRINCIPALE</h2>
    </div>
    <section class="infopr">
      <div class="labelp">
        <p>Titre :</p>
        <p>Organisateur :</p>
        <p>Lieu :</p>
        <p>Date :</p>
      </div>
      <div class="valeurp">
        <p>{{ competition.nomComp }}</p>
        <p>{{ competition.descComp }}</p>
        <p>{{ competition.lieu.nomLieu }}</p>
        <p>{{ competition.dateComp }}</p>
      </div>
      <div class="actionsp">
        <img
          src="{{ url_for('static', filename='../static/img/edit.png') }}"
          onclick="editTitle()"
        />
        <img
          src="{{ url_for('static', filename='../static/img/edit.png') }}"
          onclick="editOrganizer()"
        />
        <img
          src="{{ url_for('static', filename='../static/img/edit.png') }}"
          onclick="editLocation()"
        />
        <img
          src="{{ url_for('static', filename='../static/img/edit.png') }}"
          onclick="editDate()"
        />
      </div>
    </section>
  </section>
  <section class="gestion-participants">
    <div class="infotitre">
      <h2>GESTION PARTICIPANTS</h2>
    </div>
    <section class="container-section-participants">
      <section class="escrimeblois">
        <div class="subtitreparticipant">
          <h3>Tireurs du Club de l’Escrime de Blois</h3>
          <p class="nb">{{ nb_participants_blois }}</p>
        </div>
        <div class="gestion-participants-list">
          {% if participants_blois %} {% for participant in participants_blois
          %}
          <div class="gestionp">
            <div class="participant">
              <p>{{ participant.prenomE }}</p>
              <p>{{ participant.nomE }}</p>
              <p>|</p>
              <p>{{ participant.Categorie.nomCategorie }}</p>
            </div>
            <div class="suppd">
              <form
                action="{{ url_for('delete_participant', id_comp = competition.idComp,id=participant.idTireur) }}"
                method="post"
              >
                <button style="font-size: 30px" type="submit">-</button>
              </form>
            </div>
          </div>
          {% endfor %} {% else %}
          <p class="nullparticipant">Aucun participant de l'escrime de Blois</p>
          {% endif %}
          <div class="addp">
            <button style="font-size: 30px">+</button>
          <div id="submenu" style="display: none;">
            <input type="text" id="search" placeholder="Rechercher...">
            <ul id="escrimeurs-list"></ul>
    </div>
            </div>
          </div>
        </div>
      </section>

      <section class="escrime-other">
        <div class="subtitreparticipant">
          <h3>Tireurs d’autres club</h3>
          <p class="nb">{{ nb_participants_other }}</p>
        </div>
        <div class="gestion-participants-list">
          {% if participants_other %} {% for participant in participants_other
          %}
          <div class="gestionp">
            <div class="participant">
              <p>{{ participant.prenomE }}</p>
              <p>{{ participant.nomE }}</p>
              <p>|</p>
              <p>{{ participant.Categorie.nomCategorie }}</p>
            </div>
            <div class="suppd">
              <form
                action="{{ url_for('delete_participant', id_comp = competition.idComp,id=participant.idTireur) }}"
                method="post"
              >
                <button style="font-size: 30px" type="submit">-</button>
              </form>
            </div>
          </div>
          {% endfor %} {% else %}
          <p class="nullparticipant">Aucun participant d'autres clubs</p>
          {% endif %}
          <div class="addp">
            <form
              action="{{ url_for('add_participant', id_comp=competition.idComp) }}"
              method="post"
            >
              <button style="font-size: 30px" type="submit">+</button>
            </form>
          </div>
        </div>
      </section>
      <section class="escrime-arb">
        <div class="subtitreparticipant">
          <h3>Arbitres</h3>
          <p class="nb">{{ nb_participants_other }}</p>
        </div>
        <div class="gestion-participants-list">
          {% if participants_other %}
            {% for participant in participants_other %}
            <div class ="gestionp">
            <div class="participant">
              <p>{{ participant.prenomE }}</p>
              <p>{{ participant.nomE }}</p>
              <p>|</p>
              <p>{{ participant.Categorie.nomCategorie }}</p>
            </div>
            <div class="suppd">
              <form action="{{ url_for('delete_participant', id_comp = competition.idComp,id=participant.idTireur) }}" method="post">
                <button style="font-size: 30px;" type="submit">-</button>
              </form>
            </div>
            </div>
            {% endfor %}
          {% else %}
            <p class = "nullparticipant">Aucun arbitres pour le moment</p>
          {% endif %}
          <div class="addp">
            <form action="{{ url_for('add_participant', id_comp=competition.idComp) }}" method="post">
              <button style="font-size: 30px;" type="submit">+</button>
            </form>
          </div>
        </div>
      </section>
    </section>
  </section>
  <div class="center">
    <div class="btndiv">
      <a href="{{ url_for('home_default') }}" class="btn-annuler">ANNULER</a>
      <a href="{{ url_for('home_default') }}" class="btn-publier"
        >CREER LES POULES</a
      >
    </div>
  </div>

  {% endblock %}
</section>
