{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='gestion_poules.css') }}" />
{% endblock %}
{% block content %}
<div class="progress-bar">
    <a class="active-url" href="url">Définir une compétition</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a class="active-url" href="url">Gestion participants</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a class="active-url" href="url">Créer les poules</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Appel</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Gestion score</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Classement Final</a>
</div>
<form method="POST" action="{{ url_for('gestion_poules') }}">
    <div class="content">
        <div class="labels">
            <label for="nb_tireurs">Nombre de tireurs : </label>
            <label for="nb_arbitres">Nombre d'arbitres : </label>
        </div>
        <section class="section-param">
            <div class="titre-param">
                <h2>Paramètres poules</h2>
            </div>
            <div class="div-param">
                <section class="auto">
                    <h6>Répartition automatique</h6>
                    <div class="type-reglage-auto">
                        <label for="check">Classement</label>
                        <input class="checkbox" type="checkbox" name="classement" id="check"/>
                        <label for="check">club</label>
                        <input class="checkbox" type="checkbox" name="club" id="check"/>
                    </div>
                </section>
                <section class="manuel">
                    <h6>Répartition manuelle</h6>
                    <div class="type-reglage-manuel">
                        <div>
                            <label for="equilibrer">Equilibrer les tireurs :</label>
                        <input class="checkbox" type="checkbox" name="equilibrer" id="equilibrer"/>
                        </div>
                        
                        <div>
                            <label for="nb_poules">Nombre de poules :</label>
                        <div class="select">
                            <select name="nb_poules" id="nb_poules">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        
                        
                        <label for="nb_tireurs/poules"> Nb tireurs/poules :</label>
                        <div class="select">
                            <select name="nb_tireurs/poules" id="nb_tireurs/poules">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                </section>               
            </div>
        </section>
        <section class="section-proposition">
            <div class="titre-proposition">
                <h2>Proposition</h2>
            </div>
            <div class="tableau">
                <table>
                    <tr>
                        <th>Poule 1</th>
                        <th>Poule 2</th>
                        <th>Poule 3</th>
                    </tr>
                    <tr>
                        <td>Joueur 1</td>
                        <td>Joueur 2</td>
                        <td>Joueur 3</td>
                    </tr>
                    <tr>
                        <td>Joueur 1</td>
                        <td>Joueur 2</td>
                        <td>Joueur 3</td>
                    </tr>
                    <tr>
                        <td>Joueur 1</td>
                        <td>Joueur 2</td>
                        <td>Joueur 3</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</form>
{% endblock %}
    