{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='inscription_escrimeur.css') }}" />
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('inscription_escrimeur') }}">
        <div id="content">
            <div id="textfields">
                <div id="title">
                    <h1>S'INSCRIRE</h1>
                </div>
                <div class="label-input">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" name="nom" required>
                </div>
                <div class="label-input">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" name="prenom" required>
                </div>
                <div class="label-select">
                    <label for="sexe">Sexe</label>
                    <select name="sexes" id="sexe">
                        <option value="Homme">Homme</option>
                        <option value="Dames">Femme</option>
                    </select>
                </div>
                <div class="label-input">
                    <label for="numero_licence">Numéro de licence</label>
                    <input type="text" id="numero_licence" name="numero_licence" required>
                </div>
                <div class="label-input">
                    <label for="date_naissance">Date de naissance :</label>
                    <input type="text" id="date_naissance" name="date_naissance" placeholder="jj/mm/yyyyy" required>
                </div>
                <div class="label-input">
                    <label for="telephone">Téléphone</label>
                    <input type="text" id="telephone" name="telephone" required>
                </div>
                
                <div id="categories">
                    <label for="categorie">Catégorie</label>
                    <select id="select-cat" name="categorie" id="categorie_id">
                        {% for cat in liste_categories %}
                            <option value="{{ cat.nomCategorie }}">
                                {{ cat.nomCategorie }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="buttons">
                    <button onclick="location.href='{{ url_for('home_def', items=5) }}';"> Annuler </button>
                    <button type="submit">S'inscrire</button>
                </div>
            </div>
        </div>
    </form> 
    
{% endblock %}