{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='adherent.css')}}" />
<script src="{{ url_for('static', filename='js/script_popup.js') }}"></script>
{% endblock %}
 {% block content %}
<section class="content">
  <h2>
    <button type="button" class="ajoutadh" onclick="showPopup()">AJOUTER UN ADHÉRENT</button> 
  </h2>
  <div class="popup">
    <form action="{{ url_for('ajouter_escrimeur') }}" method="POST">
      <div class="container">
          <div class="popup" id="popup">
             <h1>AJOUT ADHERENT</h1> 
                 <div class="content-popup">  
                  <ul class = "uladdadh">
                      <li>
                          <div id="nom">
                              <label id="label-liste-adherent" for="nom">Nom :</label>
                              <input type="text" id="iinput-liste-adherent nom" name="nom_e" required placeholder="Nom"><br>
                          </div>
                      </li>
                      <li>
                              <div id="prenom">
                              <label id="label-liste-adherent" for="prenom">Prénom :</label>
                              <input type="text" id="input-liste-adherent prenom" name="prenom_e" required placeholder="Prénom"><br>
                          </div>
                      </li>
                      <li>
                          <div id="datenaissance">
                              <label id="label-liste-adherent" for="date_naissance">Date de naissance :</label>
                              <input type="date" id="input-liste-adherent date_naissance" name="date_naissance_e" required><br>
                          </div>
                      </li>
                      <li>
                          <div id="numlicence"> 
                              <label id="label-liste-adherent" for="numero_licence">Numéro de licence :</label>
                              <input type="text" id="input-liste-adherent numero_licence" name="numero_licence_e" required placeholder="Numéro de licence"><br>
                          </div>
                      </li>
                      <li>
                          <div id="sexe">
                              <label id="label-liste-adherent" for="categorieSexe">Sexe :</label>
                              <select id="categorieSexe" name="sexeE">
                                  <option value="homme">Homme</option>
                                  <option value="femme">Femme</option>
                              </select>
                          </div>
                      </li>
    
                      <li>
                          <div id ="telephone">
                              <label id="label-liste-adherent" for="numTelE">Numéro de Téléphone :</label>
                              <input type="text" id="input-liste-adherent numTelE" name="numTelE" placeholder="+33"><br>
                          </div>
                      </li>
                      <li>
                          <div id="boutons">
                            <button type="button" onclick="closePopup()">Annuler</button>
                              <button type="submit">Ajouter</button>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </form>

  </div>
      <section class="section-filtre">
        <div class="titre-filtre">
          <h2>FILTRE</h2>
        </div>
        <div class="filtre">
          <div class="search">
            <div class="search">
              <form method="POST" action="{{ url_for('liste_adherents', items=items) }}" id="searchForm">
                  <input id="searchInput" name="search">
                  <button type="submit" class="search-button">
                      <img src="{{ url_for('static', filename='img/search.png') }}" class="search-icon" alt="Rechercher">
                  </button>
              </form>
          </div>
        </div>
        </div>
          <div class="Catégorie">
            <form method="POST" action="{{ url_for('liste_adherents', items=items) }}" id="categorieForm">
                <label id="label-liste-adherent" for="categorieSelect">Catégorie:</label>
                <select id="categorieSelect" name="categorie" onchange="document.getElementById('categorieForm').submit();">
                    <option value="">Toutes les catégories</option>
                    {% for categorie in categories %}
                    <option value="{{ categorie }}" {% if categorie == selec_categorie %}selected{% endif %}>{{ categorie }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="Sexe">
            <form method="POST" action="{{ url_for('liste_adherents', items=items) }}" id="sexeForm">
                <label id="label-liste-adherent" for="categorieSexe">Sexe:</label>
                <select id="categorieSexe" name="sexe" onchange="document.getElementById('sexeForm').submit();">
                    <option value="">Non définie</option>
                    <option value="H" {% if "H" == selec_sexe %}selected{% endif %}>Homme</option>
                    <option value="F" {% if "F" == selec_sexe %}selected{% endif %}>Femme</option>
                </select>
            </form>
        </div>
        <div class="Statut">
            <form method="POST" action="{{ url_for('liste_adherents', items=items) }}" id="statutForm">
                <label id="label-liste-adherent" for="categorieStatut">Statut:</label>
                <select id="categorieStatut" name="statut" onchange="document.getElementById('statutForm').submit();">
                    <option value="">Non définie</option>
                    <option value="Tireur" {% if "Tireur" == selec_statut %}selected{% endif %}>Tireur</option>
                    <option value="Arbitre" {% if "Arbitre" == selec_statut %}selected{% endif %}>Arbitre</option>
                </select>
            </form>
        </div>
        </div>
      </section>
      <div class="competition-container">
        <div class = "top">
        <div class="affichage">
          <ul>
            <li><p>Affichage : </p></li>
            <a class="item-link {% if items == 5 %}active-link{% endif %}" href="{{ url_for('liste_adherents', items=5) }}">5</a>
            <a class="item-link {% if items == 10 %}active-link{% endif %}" href="{{ url_for('liste_adherents', items=10) }}">10</a>
            <a class="item-link {% if items == 25 %}active-link{% endif %}" href="{{ url_for('liste_adherents', items=25) }}">25</a>
          </ul>
        </div>
        <div class = "page">
          <p>Page : {{ page }}/{{total_pages}}</p>
        </div>
        </div>
        <table>
          <thead>
            <tr class="title">
              <th>Prenom</th>
              <th>Nom</th>
              <th>Date Naissance</th>
              <th>Catégorie</th>
              <th>Licence</th>
              <th>SexeE</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for adherent in adherents %}
            <tr>
              <td>{{ adherent.prenomE }}</td>
              <td>{{ adherent.nomE }}</td>
              <td>{{ adherent.dateNaissanceE }}</td>
              <td>{{ adherent.nomCategorie }}</td>
              <td>{{ adherent.numeroLicenceE }}</td>
              <td>{{ adherent.sexeE }}</td>
              <td><a href="#" class="consulter">Consulter</a></td>
            </tr>
            <div class = "ligne"></div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <div class="pagination">
      <form method="POST" action="{{ url_for('liste_adherents', items=items)}}">
        <input type="hidden" name="items" value="{{ items }}">
        <input type="hidden" name="page" value="{{ page }}">
        {% if page != 1 %}
          <button type="submit" name="prev" class="left" value="prev">Page précédente</button>
        {% endif %}
        {% if page != total_pages %}
          <button type="submit" name="next" class="right" value="next">Page suivante</button>
        {% endif %}
      </form>
    </div>
      {% endblock %}
