<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/password-forgot.css"/>
    <link rel="stylesheet" href="../static/variables.css"/>
    <link rel="stylesheet" href="../static/responsive-pwd-forgot.css"/>
    <script
      src="https://kit.fontawesome.com/b2318dca58.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form action="">
      <div class="quitter">
        <a href="page connexion"><i class="fa-solid fa-xmark"></i></a>
      </div>
      <img class="image" src="../static/img/oublie_mot_de_passe.png" alt="" />
      <h1>Vous avez oublié votre mot de passe ?</h1>
      <p class="aide">
        Pas de soucis, ça peut arriver. Entrer votre adresse mail pour recevoir
        un mail qui permettra de réinitialiser votre mot de passe
      </p>
      <div class="email textfield-position">
        <label for="email"></label>
        <input
          type="text"
          id="mail"
          name="email"
          required
          minlength="4"
          maxlength="8"
          size="10"
          placeholder="Ex : notreclub@gmail.com"
        />
      </div>
      <div class="bouton-connexion">
        <button id="bonton-recevoir-mail" type="button">Recevoir mail</button>
      </div>
    </form>
  </body>
</html>
