<!-- Pop-up Ajouter Lieu -->
<div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalButton">&times;</span>
      <form id="formAjouterLieu">
        <h2>Ajouter un Lieu</h2>
        <input type="text" id="nomLieu" placeholder="Nom du Lieu" required><br>
        <input type="text" id="adresseLieu" placeholder="Adresse" required><br>
        <input type="text" id="villeLieu" placeholder="Ville" required><br>
        <input type="number" id="codePostalLieu" placeholder="Code Postal" required><br>
        <button type="button">Enregistrer</button>
      </form>
    </div>
  </div>
  