<link rel="stylesheet" href="{{ url_for('static', filename='progress-bar.css')}}" />
<div class="progress-bar">
  <a class="active-url" href="url">Définir une compétition</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a href="url">Gestion participants</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a href="url">Créer les poules</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a href="url">Appel</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a href="url">Gestion score</a>
  <img class="fleche-bar" src="../static/img/fleche.png" alt="fleche" />
  <a href="url">Classement Final</a>
</div>