<link rel="stylesheet" href="{{ url_for('static', filename='css/progress-bar.css') }}"/>
<div class="progress-bar">
    <a class="active-url" href="url">Définir une compétition</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a class="active-url" href="url">Gestion participants</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a class="active-url" href="url">Créer les poules</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Appel</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Gestion score</a>
    <img class="fleche-bar" src="{{ url_for('static', filename='img/fleche.png')}}" alt="fleche" />
    <a href="url">Classement Final</a>
</div>